.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

adj_sesiones/*
adj_actores/*
adj_consejos/*

composer.lock

*~
*.swp
*.swo
