RewriteEngine on
RewriteCond $1 !^(index\.php|css|js|doc|img|oficios|adj_sesiones|adj_actores|fotos|images|theme|jquery|uploadify|fonts|fichas|metadatos|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]
AddDefaultCharset UTF-8

SetEnvIf Server_Addr ^192\.168\.56\.101$ CI_ENV=development
SetEnvIf Server_Addr ^172\.16\.2\.42$ CI_ENV=testing
SetEnvIf Host "participacion.guanajuato.gob.mx" CI_ENV=production
